.game-board {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.row {
	display: flex;
	gap: 5px;
}

.btn {
	width: 70px;
	height: 70px;
    border: none;
    background-color: #054443;
    font-size: 2rem;
    color: #080f0f;
    font-weight: 600;
}

.wrapper {
    position: relative;
}
